.sidebar-container {
  background-color: #000;
  color: #b3b3b3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.top-links {
  display: flex;
  flex-direction: column;
}
.logo {
  text-align: center;
  margin: 1rem 0;
}
.logo img {
  max-inline-size: 80%;
  block-size: auto;
}
ul {
  list-style-type: none;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
ul li {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
/* hover effect */
ul li:hover {
  color: #fff;
}
